<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
    <FT_SettingLabel_AgeOfCaring>Age of caring</FT_SettingLabel_AgeOfCaring>
    <FT_SettingTooltip_AgeOfCaring>Until what child's age their parent will care about their troubles in years.</FT_SettingTooltip_AgeOfCaring>

    <FT_SettingLabel_CannibalsCareAboutChildrenPain>Cannibals care about family</FT_SettingLabel_CannibalsCareAboutChildrenPain>
    <FT_SettingTooltip_CannibalsCareAboutChildrenPain>If checked, pawns with Cannibal trait will care about their family.</FT_SettingTooltip_CannibalsCareAboutChildrenPain>

    <FT_SettingLabel_BloodlustCareAboutChildrenPain>Bloodlust care about family</FT_SettingLabel_BloodlustCareAboutChildrenPain>
    <FT_SettingTooltip_BloodlustCareAboutChildrenPain>If checked, pawns with Bloodlust trait will care about their family.</FT_SettingTooltip_BloodlustCareAboutChildrenPain>

    <FT_SettingLabel_FamilyDiedThought>Psychopaths don't care about family death (requires restart)</FT_SettingLabel_FamilyDiedThought>
    <FT_SettingTooltip_FamilyDiedThought>If checked, pawns with Psychopath trait will ignore family members' deaths.</FT_SettingTooltip_FamilyDiedThought>

    <FT_SettingLabel_FamilyDiedSocial>Psychopaths don't care at all (requires restart)</FT_SettingLabel_FamilyDiedSocial>
    <FT_SettingTooltip_FamilyDiedSocial>If checked, pawns with Psychopath trait will be indifferent to killer and to the ones who sold psycho's relatives.</FT_SettingTooltip_FamilyDiedSocial>

    <FT_SettingLabel_ChildrenWorry>Children worry about parents</FT_SettingLabel_ChildrenWorry>
    <FT_SettingTooltip_ChildrenWorry>If checked, children will care about their parents' pain and sickness.</FT_SettingTooltip_ChildrenWorry>

    <FT_SettingLabel_ChildMinEmpathyAge>Mininal age of empathy</FT_SettingLabel_ChildMinEmpathyAge>
    <FT_SettingTooltip_ChildMinEmpathyAge>Children younger than this will not care about their parents' troubles.</FT_SettingTooltip_ChildMinEmpathyAge>

    <FT_SettingLabel_ChildMaxEmpathyAge>Maximal age of empathy</FT_SettingLabel_ChildMaxEmpathyAge>
    <FT_SettingTooltip_ChildMaxEmpathyAge>Children older that this will not care about their parents' troubles.</FT_SettingTooltip_ChildMaxEmpathyAge>

    <FT_SettingLabel_ChildrenWorry_PainThreshold>Base threshold for parents' pain</FT_SettingLabel_ChildrenWorry_PainThreshold>
    <FT_SettingTooltip_ChildrenWorry_PainThreshold>From which parents' pain level children will worry for them.</FT_SettingTooltip_ChildrenWorry_PainThreshold>

    <FT_SettingLabel_ChildrenWorry_SickThreshold>Base threshold for parents' sickness severity</FT_SettingLabel_ChildrenWorry_SickThreshold>
    <FT_SettingTooltip_ChildrenWorry_SickThreshold>From which parents' sickness severity level children will worry for them.</FT_SettingTooltip_ChildrenWorry_SickThreshold>

    <FT_SettingLabel_ProudForMasterpiece>Pride for child's masterpiece</FT_SettingLabel_ProudForMasterpiece>
    <FT_SettingTooltip_ProudForMasterpiece>If checked, parents will get a mood buff when their child creates a Masterwork or Legendary item.</FT_SettingTooltip_ProudForMasterpiece>

    <FT_SettingLabel_ProudForSkillUp>Pride for child's skill up</FT_SettingLabel_ProudForSkillUp>
    <FT_SettingTooltip_ProudForSkillUp>If checked, parents will get a mood buff when their child levels up a skill.</FT_SettingTooltip_ProudForSkillUp>
</LanguageData>

